/*Configuração global*/ 
/*
* {
	box-sizing: border-box;
	margin:0;
	padding:0;
}
body {
	font-family: 'Open Sans;', sans-serif;
	color: var(--color-text);
	background-color: var(--color-background);
}

:root{
	--color-blue:#004677;
	--color-text: #333333;
	--color-white:#fff;	
	--color-background:rgba(229, 229, 229, 0.5);
}

ul {
  padding: 0;
  list-style: none;
}

h2{
	color: var(--color-blue);
}

a{
	color: var(	--color-blue);
	font-size: 1rem;
	text-decoration: none;
}

img{
	max-width: 100%;
	box-shadow: var(--color-text);
}
*/
* {
	box-sizing: border-box;
	margin:0;
	padding:0;
}
body {
	font-family: 'Open Sans;', sans-serif;
	color: var(--color-text);
	background-color: var(--color-background);
	max-width: 1600px;
}

/*Usando CSS Variables*/ 

:root{
	--color-blue:#004677;
	--color-text: #333333;
	--color-white:#fff;	
	--color-background:rgba(229, 229, 229, 0.5);
}

ul {
	padding: 0;
	list-style: none;
}


h2 {
	color: var(	--color-blue);
}

a {
	color: var(	--color-blue);
	font-size: 1rem;
	text-decoration: none;
}
img {
	max-width: 100%;
	box-shadow: var(--color-text);
}


/* ----------- Navigation -----------*/

.main-header{
	display: flex;
	padding: 1.875rem 1rem;
	justify-content: flex-end;
}

.main-nav a {
	
	font-weight: 600;
	font-style: normal;
	line-height: 1.3618;
	text-transform: uppercase;
	margin:  24px;	
}
/* ---- Layout Containers ---- */

/*Linha*/
.row{
	display:flex;	
	flex-wrap: wrap;
	margin-top: 5.56rem;
    align-items: flex-start;
}

/*Colunas*/
.col{
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	flex: 1;
}

.primary {    
    order:2;
}

.primary .item{
    margin: auto;
}
 .secondary{
	margin: 0rem 7rem;
	order: 1;
		
}
.secondary > h2{
	font-style: normal;
	font-weight: bold;
	line-height: 1.37rem;
	margin-bottom: 1.875rem;	
}

.secondary .first-heading{
	font-size: 2.5rem;
	
}
.secondary .second-heading{
	font-size: 1.56rem;	
}

.secondary > p{
	text-align: justify;
	font-style: normal;
	font-weight: normal;
	font-size:   1rem;
	line-height: 1.875rem;
	padding-bottom: 1.875rem;	
	font-weight: 100;
	color: var(--color-text);
	
}

@media (min-width: 769px) {
	.main-header,
	.main-nav,
	.row {
		display: flex;	
	}
}
@media (max-width: 769px){
	.main-header{
		background: var(--color-blue);
		justify-content: center;
		padding: 1rem; 
	}
	.main-nav{
		margin:0;
		margin-top: 2rem;
		margin-bottom: 0.62rem;		
	}
    .main-nav li a{
		display: block;
		text-align: center;
		font-weight: 500;
		line-height: 1.375rem;
		margin: 0 0 1.22rem 0;
	}
	.main-header .main-nav > li a{
		color: var(--color-white);
	}
	.row{
		flex-direction: column;				 
		align-items: center;
		margin:0;    	
	}

	.primary{
		order:1;		
		width:72%;
	}
	.primary .item{
		margin-top:2.65rem;
		margin-bottom:3.5rem;
	}
	
	.secondary{		
		width:72%;
		margin: 0;
		align-items: flex-start;
				
	}

}